/* linechart */

.line-chart-container {
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 70%, rgb(202, 0, 0) 70%);
    border-radius: 5px;
    padding: 2rem 0;
    height: 260px;
    width: 30%;
}

.custom-tooltip {
    background: white;
    padding: 0 .8rem;
    border: 1px solid #ffffff;
    font-size: 8px;
}

.duration-chart-title {
    color: white;
    opacity: 0.7;
    margin: 0 1.5rem;
}

/* radialbarchart */

.radial-bar-chart-container {
    border-radius: 5px;
    background-color: #FBFBFB;
    height: 260px;
    width: 30%;
}

/* radarchart */

.radar-chart-container {
    background-color: #282D30;
    border-radius: 5px;
    height: 260px;
    width: 30%;
}

/* barchart */

.bar-chart-container {
    /* margin: 0 20px 20px 0; */
    border-radius: 5px;
    height: 320px;
    background-color: #FBFBFB;
    padding: 2rem;
}

.custom-tooltip-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: red;
    gap: 1rem;
    padding: 1rem;
    font-size: 8px;
}

/* infocard */

.infocards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.infocard {
    background-color: #FBFBFB;
    height: 25%;
    width: 75%;
    display: flex;
    border-radius: 5px;
    padding: 1rem;
}

.infocard-img {
    width: 20px;
    height: 20px;
    display: flex;
    z-index: 2;
}

.infocard-icon-container {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 1rem;
}

.infocard-icon-container.first {
    background-color: #ff000010;
}

.infocard-icon-container.second {
    background-color: #4ab7ff10;
}

.infocard-icon-container.third {
    background-color: #f9ce2310;
}

.infocard-icon-container.fourth {
    background-color: #fd518210;
}

.infocard-text-container {
    margin: 1rem;
}

.infocard-text-container p {
    margin: 0;
}

.infocard-text-container p:first-of-type {
    font-weight: 900;
    font-size: 20px;
}

.infocard-text-container p:last-of-type {
    font-size: 14px;
    color: #74798C;
}