*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.app-container {
    display: flex;
    width: 100%;
}

.content-container {
    width: 100%;
    margin: 1rem 0 0 1rem;
}

.mini-charts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.main-layout {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.left-layout {
    width: 75%;
}

.right-layout {
    width: 25%;
    display: flex;
    height: 100%;
    margin-left: 1%;
}

h1 span {
    color: red;
}

h2 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}